body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: red;
  color: rgba(59, 56, 49, 0.909);
  min-width: 100%;
  font-size: 40px;
}
body ::-webkit-scrollbar {
  display: hidden;
}

.container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.container {
  overflow: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.container .pages {
  display: flex;
  overflow: auto;
  scroll-snap-align: start;
  align-items: center;
  justify-content: center;
  min-width: 80%;
  height: 100vh;
  scroll-behavior: smooth;
  color: rgba(209, 200, 176, 0.909);
  background-color: rgb(22, 28, 28);
}
.container .pages ::-webkit-scrollbar {
  display: hidden;
}
.container #loanCalculator {
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
.container #home #Keino {
  font-size: 150px;
  color: #FFB03A;
  font-family: "Telford Town", sans-serif;
  letter-spacing: 0px;
}
.container #home #splash {
  font-style: italic;
}

/*Sentence*/
.sentence {
  text-align: left;
}

/*Wrapper*/
.wrapper {
  margin: 0px;
  padding: 0px 0px;
  position: relative;
  min-width: 80%;
}

/*Vertical Sliding*/
.slidingVertical {
  display: inline;
  text-indent: 8px;
}

.slidingVertical span {
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  font-style: italic;
  background-image: linear-gradient(60deg, #cf39fd, #FFB03A, rgb(12, 195, 223));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.slidingVertical span:nth-child(2) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.slidingVertical span:nth-child(3) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}

.slidingVertical span:nth-child(4) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}

.slidingVertical span:nth-child(5) {
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*topToBottom Animation*/
@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #dcdc39;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

body, .nav, .menu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  bottom: 0;
  margin-bottom: 5%;
  position: absolute;
  z-index: 1;
  background-color: #FFB03A;
  padding: 20px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav input:checked ~ .menu {
  margin-bottom: 15%;
  width: 100%;
}

.menu li {
  max-width: 50%;
  list-style: none;
  font-size: 20px;
  margin: 40px;
}

.menu li a {
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  font-weight: 100;
  transition: 0.5s;
}

.menu li a:hover {
  background-image: linear-gradient(60deg, #cf39fd, #FFB03A, rgb(12, 195, 223));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.nav input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
  margin-bottom: 15%;
}

.nav span {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #666;
  pointer-events: none;
  transition: 0.5s;
}

.nav input:checked ~ span {
  background-color: #f974a1;
}

.nav span:nth-child(2) {
  transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}

.nav span:nth-child(3) {
  transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}

#link {
  color: #06c5cc;
  display: block;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
}

#link:hover {
  color: #FFB03A;
}

#link, #link:hover {
  transition: color 0.5s ease-out;
}

/** BEGIN CSS **/
body {
  background: #333333;
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}
@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}
@keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-container,
.loading {
  height: 300px;
  position: relative;
  width: 300px;
  border-radius: 100%;
}

.loading-container {
  position: relative;
  text-align: center;
  right: 0px;
  left: 0px;
}

#wrapper {
  font-size: 17px;
  position: relative;
  background-image: linear-gradient(60deg, #cf39fd, #FFB03A, rgb(12, 195, 223));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.loading {
  border: 2px solid transparent;
  border-color: transparent #fff transparent #FFF;
  -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
  -moz-transform-origin: 50% 50%;
  -o-animation: rotate-loading 1.5s linear 0s infinite normal;
  -o-transform-origin: 50% 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-transform-origin: 50% 50%;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}

.loading-container:hover .loading {
  border-color: transparent #FFB03A transparent #FFB03A;
}

.loading-container:hover .loading,
.loading-container .loading {
  transition: all 0.5s ease-in-out;
}

#loading-text {
  -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
  animation: loading-text-opacity 2s linear 0s infinite normal;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-weight: bold;
  opacity: 0;
  top: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  list-style: none;
  background-image: linear-gradient(60deg, #cf39fd, #FFB03A, rgb(12, 195, 223));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
#loading-text #loadingIdeas {
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */